<div class="view" id="<%- owner.login %>_<%- name %>">
  <a href="#<%- full_name %>" class="title"><%- name %></a>
  <span class="repoDetails date"></span>
  <div class="count_details">
    <span class="stars_count"><img src="styles/img/star.png" alt="Stars Count"  width="12" height="12"/><%- stargazers_count %></span>
    <span class="watchers_count"><img src="styles/img/watcher.png" alt="Watchers Count" width="13" height="12"/><%- watchers_count %></span>
    <span class="forks_count"><img src="styles/img/fork.png" alt="Forks Count" width="8" height="12"/><%- forks_count %></span>
  </div>
  <div class="repoDetails info"></div>
</div>